.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.background {
    background-image: url('../images/background.png');
    background-size: cover;
}

.welkom {
    background-color: rgb(0, 0, 0);
    border: 3px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
}

.vet {
    font-weight: bold;
}